html,
body {
  margin: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.logo {
  display: block;
  width: 100px;
  height: 32px;
  margin-top: 32px;
  margin-bottom: 60px;
}
.wrapper {
  /* width: 1170px; */
  margin: auto;
  display: flex;
  /* justify-content: center; */
  justify-content: space-around;
}
.main-page {
  background: radial-gradient(
    215.03% 58.08% at 49.91% 51.25%,
    #fcfefe 0%,
    #a5deff 100%
  );
  /* width: 1170px; */
  overflow: hidden;
  padding-left: 95px;
  padding-right: 95px;
}
.main-page-left-side {
  margin-top: 32px;
}
.main-page-text-container {
  border-radius: 40px;
  background: #9bdbff;
  padding: 60px;
  box-sizing: border-box;
  max-width: 800px;
}
.main-page-button {
  border: none;
  border-radius: 8px;
  background: #ff6b0a;
  color: #ffffff;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
}

.main-page-text-hello {
  color: #1b1d1f;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 60px;
}
.main-page-text-title {
  color: #005bbb;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
  margin-top: 0;
  margin-bottom: 24px;
}
.main-page-text-desc {
  color: #1b1d1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 32px;
}

.wrapper-gus-facts {
  flex-direction: column;
  align-content: center;
  display: flex;
}
.trusub {
  margin: auto;
  transform: scale(1.6);
}
.gus-facts {
  background: radial-gradient(
    215.03% 58.08% at 49.91% 51.25%,
    #fcfefe 0%,
    #a5deff 100%
  );
  text-align: center;
  padding-top: 48px;
  padding-bottom: 80px;
  /* width: 1170px; */
  padding-left: 95px;
  padding-right: 95px;
}
.gus-facts-header {
  color: #005bbb;
  font-size: 56px;
  font-weight: 600;
  line-height: 72px;
  margin-top: 32px;
  margin-bottom: 0;
}
.gus-facts-img {
  width: 100%;
}
.gus-facts-desc {
  width: 1000px;
  color: #1b1d1f;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 0 40px;
}

.gus-facts-item-title {
  color: #005bbb;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 32px;
}
.gus-facts-item-desc {
  color: #1b1d1f;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0 40px;
}
.gus-facts-item {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: auto;
}

.form-page {
  background: radial-gradient(
    215.03% 58.08% at 49.91% 51.25%,
    #fcfefe 0%,
    #a5deff 100%
  );
  background: radial-gradient(
    215.03% 58.08% at 49.91% 51.25%,
    #fcfefe 0%,
    #a5deff 100%
  );
  text-align: center;
  padding-top: 48px;
  padding-bottom: 80px;
  /* width: 1170px; */
  padding-left: 95px;
  padding-right: 95px;
}

.form {
  width: 573px;
  border-radius: 40px;
  background: #9bdbff;
  padding: 32px 60px 60px 60px;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  transform: scale(1.1);
}
.form-title {
  color: #005bbb;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.form-desc {
  color: #1b1d1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
  margin-top: 0;
}

.label-form {
  color: #005bbb;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0;
}

.form-input {
  width: 420px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #005bbb;
  background: #fff;
  padding-left: 12px;
  padding-right: 12px;
  color: #1b1d1f;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
}
.form-fild-name {
  text-align: left;
  margin-top: 0;
  margin-bottom: 32px;
}
.form-fild-email {
  text-align: left;
  margin-top: 0;
  margin-bottom: 48px;
}
.gus-anim {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin-bottom: auto;
  margin-top: auto;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}
.banderogus {
  transform: scale(1.1);
  margin-top: 0;
}
/* @media screen 1260px */

@media screen and (max-width: 1260px) {
  .main-page-left-side {
    margin-top: 0;
  }
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-page-text-container {
    padding: 40px;
  }
  .main-page-text-hello {
    margin-bottom: 40px;
  }
  .banderogus {
    transform: scale(1);
    margin-top: 0;
    width: 80%;
  }
  .facts-desc {
    width: auto;
  }

  .gus-facts-desc {
    width: auto;
  }
  .gus-facts-item {
    width: 80%;
  }
}
/* @media screen 800px */
@media screen and (max-width: 800px) {
  .logo {
    margin-top: 12px;
    margin-bottom: 32px;
  }
  .main-page {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-page-text-hello {
    margin-bottom: 32px;
  }

  .gus-facts {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .gus-facts-item {
    padding-right: 0;
    padding-left: 0;
  }

  .form-page {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-page-left-side {
    transform: scale(1);
  }
  .banderogus {
    transform: scale(1);
    margin-top: 0px;
  }
  .form {
    transform: scale(1);
  }
  .trusub {
    transform: scale(1);
  }
}
/* @media screen 600px */
@media screen and (max-width: 600px) {
  .main-page-text-title {
    font-size: 40px;
  }
  .gus-facts-header {
    font-size: 32px;
    line-height: 42px;
  }
  .form {
    width: 92%;
  }
  .form-input {
    width: 360px;
  }
}
/* @media screen 500px */
@media screen and (max-width: 500px) {
  .main-page-text-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
  }
  .gus-facts-header {
    font-size: 28px;
    line-height: 32px;
  }
  .form-input {
    width: 260px;
  }
}
/* @media screen 450px */
@media screen and (max-width: 450px) {
  .form-input {
    width: 180px;
  }
}

